@* BU SAYFALAR İÇERİSİNE C# KKODLARI İLE HTML KODLARI BİRLİKTE YAZMAMIZI SAĞLAR. 
BUNLARA RAZOR PAGE DENİR. MVC YAPISI İÇİNDE VİEW OLARAK ADLANDIRILIR.*@



@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz!</h1>
    <p>Bu parağrafı biz yazdık.</p>
    <button class="btn btn-success">Ekle</button>
    <button class="btn btn-danger">Sil</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
