@model List<OrderListDto>
<h6 class="display-6">Siparişlerşim</h6>
<hr />
<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr class="bg-danger text-white">
            <th>Sipariş No</th>
            <th>Tarih</th>
            <th>Toplam</th>
            <th>Sipariş Detayı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderNumber</td>
                <td>@order.OrderDate.ToShortDateString()</td>
                <td>@order.TotalPrice()</td>
                <td>
                    @await Html.PartialAsync("_OrderDetailPartial",order)
                </td>
            </tr>
        }
    </tbody>
</table>