@{
    ViewData["Title"] = "Home Page";
}
<a class="btn btn-success"asp-controller="Home" asp-action="YasGrubu">Yaş Grubu hesaplama</a>


<a class="btn btn-success"asp-controller="Home" asp-action="CreateProduct">Create Product</a>
















@* post  sunucuya veri göndermeye yarar. inputtaki name ile sağlar. VerileriAl actiona homecontrolleden bak *@
@* <form asp-controller="Home" asp-action="VerileriAl" method="post">
    <label>Ad</label>
    <input type="text" name="txtAd" >
    <label>Yaş</label>
    <input type="text" name="TxtYas" >
    <input type="submit" value="Gönder"> 
    <button type="submit">Gönder</button> yukardakiyle aynı görevi görür. 
</form> *@