@using BlogApp.Entities.Dtos
@model ArticleAddDto
<div class="modal fade" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="fas fa-plus"></span> Makale Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-area="Admin" asp-controller="Article" asp-action="Add" id="form-article-add" method="post">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="text-danger" asp-validation-summary="All" id="validation-summary"></div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" />
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" asp-for="Category.Name"></label>
                        <input asp-for="Category.Name" class="form-control" />
                        <span class="text-danger" asp-validation-for="Category.Name"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" asp-for="User"></label>
                        <input asp-for="User" class="form-control" />
                        <span class="text-danger" asp-validation-for="User"></span>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" asp-for="IsActive" />
                        <label asp-for="IsActive" class="form-check-label"></label>
                        <span class="text-danger" asp-validation-for="IsActive"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">
                    <span class="fas fa-times"></span> İptal
                </button>
                <button type="button" class="btn btn-primary btn-block" id="btnSave">
                    <span class="fas fa-save"></span> Kaydet
                </button>
            </div>

        </div>
    </div>
</div>
