*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.container{
    
    padding: 5px;
    width: 50%;
    margin: 0 auto;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-size: 80px; 
    color: white;
}
.input{
    margin-top: 50px;
    display: flex;
}
.plus{
  
   
    right: 5vh;
    margin-top: 55px;
}
.task{
    margin: 0 auto;
    height: 30px;
    border:none;
    background-color: white;
    width: 800px
}
.tamamı{
   
    margin-top: 50px;
}

.notlar{
    
    padding: 5px;
    width: 50%;
    margin: 0 auto;
}
.not-kutusu{
    display: flex;
}
.not-listesi{
   
    list-style-type: none;
}
.not-ad{
    margin: 0 auto;
    height: 30px;
    border:none;
    background-color: white;
    width: 800px;
}
.not-tamamlandi{
    height: 30px;
    width: 30px;
    border:none;
    margin:0;
    background-color: orange;
}
.not-sil{
    height: 30px;
    width: 30px;
    border:none;
    margin:0;
    background-color: red;

}


 
 

    
