@model Kitap
@{
    ViewData["Title"] = "Kitap Sil";
}
<h1 class="display-6 alert alert-danger">Dikkat Kitap Silinecek!!!</h1>
<hr>
<form asp-controller="Home" asp-action="KitapSil" method="post">
    <div class="row mb-2">
        <div class="col-2">
            <label class="form-label" asp-for="Ad"></label>
        </div>
        <div class="col-4">
            <input class="form-control" type="text" asp-for="Ad">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <label class="form-label" asp-for="BasimYili"></label>
        </div>
        <div class="col-4">
            <input class="form-control" type="text" asp-for="BasimYili">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <label class="form-label" asp-for="SayfaSayisi"></label>
        </div>
        <div class="col-4">
            <input class="form-control" type="text" asp-for="SayfaSayisi">
        </div>
    </div>
    
    </div>

    <div class="row mb-2">
        <div class="col-4 offset-2">
            <input class="btn btn-primary" type="submit" value="Sil">
        </div>
    </div>
</form>


    