*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:cadetblue;
}
.container{
    padding: 5px;
    width: 50%;
    margin: 0 auto;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-size: 80px; 
    color: white;
}
.input{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task{
    width: 500px;
    height: 30px;
    margin-top: 50px;
}
button{
 position: absolute;
 
 top: 5px;
 
}
.plus{ 
    margin-top: 50px;  
}


    
