@model List<Yazar>
@{
    ViewData["Title"] = "Yazar";
}
<h1 class="display-6">Yazar Listesi</h1>
<hr>

<table class="table table bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Ad</td>
            <td>Doğum Yılı</td>
            <td>Cinsiyet</td>
        
        </tr>
    </thead>
    <tbody>
        @foreach (var y in Model)
        {
           <tr>
            <td>@y.Id</td>
                <td>@y.Ad</td>
                <td>@y.DogumYili</td>
                <td>@y.Cinsiyet</td>
                
           </tr>
    
        }
    </tbody>
</table>